.cta {
  background: #fff6f7;

  padding: 80px 6%;

  display: grid;
  grid-template-columns: 1.1fr .9fr;
  gap: 50px;

  align-items: center;
}

.content {
  color: black;
  max-width: 560px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.badge {
  display: inline-block;
  padding: 10px 18px;
  border-radius: 999px;
  background: rgba(200, 164, 106, .18);
  color: #C8A46A;
  font-weight: 600;
  margin-bottom: 18px;
}

.content h2 {
  font-size: clamp(34px, 5vw, 56px);
  line-height: 1.1;
  margin-bottom: 18px;
}

.content p {
  font-size: 18px;
  line-height: 1.7;
  opacity: .9;
  margin-bottom: 28px;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 16px 30px;
  border-radius: 14px;

  text-decoration: none;
  font-weight: 600;

  background: linear-gradient(135deg,
      #C8A46A,
      #E5C185);

  color: #fff;

  box-shadow:
    0 12px 30px rgba(200, 164, 106, .3);

  transition: .3s;
}

.button:hover {
  transform: translateY(-3px);
}

.mapCard {
  background: #fff;
  border-radius: 26px;
  overflow: hidden;

  box-shadow:
    0 20px 50px rgba(0, 0, 0, .12);
}

.mapCard iframe {
  display: block;
  width: 100%;
  height: 320px;
  /* bem menor */
  border: 0;
}

.address {
  padding: 20px 24px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  color: #555;
}

.address strong {
  color: #0B0F2F;
  font-size: 18px;
}

/* Tablet */
@media (max-width:1023px) {
  .cta {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 35px;
  }

  .content {
    margin: auto;
  }

  .button {
    margin: auto;
  }

  .mapCard {
    max-width: 700px;
    margin: auto;
  }
}

/* Mobile */
@media (max-width:767px) {
  .cta {
    padding: 60px 5%;
  }

  .mapCard iframe {
    height: 250px;
  }

  .content p {
    font-size: 16px;
  }
}

.actions {
  display: flex;
  gap: 14px;
  flex-wrap: wrap;
  margin-top: 28px;
  align-items: center;
  justify-content: center;
}

.whatsappBtn {
  padding: 16px 28px;
  border: none;
  border-radius: 999px;
  cursor: pointer;

  background: #0B0F2F;
  color: white;

  font-weight: 700;

  transition: .3s;
}

.whatsappBtn:hover {
  transform: translateY(-2px);
}

.reviewBtn {
  padding: 16px 28px;
  border: none;
  border-radius: 999px;
  cursor: pointer;

  background:
    linear-gradient(135deg,
      #C8A46A,
      #E5C185);

  color: white;
  font-weight: 700;

  box-shadow:
    0 10px 26px rgba(200, 164, 106, .28);

  transition: .3s;
}

.reviewBtn:hover {
  transform:
    translateY(-2px) scale(1.02);
}

@media(max-width:767px) {

  .actions {
    flex-direction: column;
    width: 100%;
  }

  .whatsappBtn,
  .reviewBtn {
    width: 100%;
  }

}