/* =========================
HERO
========================= */

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  padding: 80px 6%;
  background: linear-gradient(135deg,
      #ffffff 0%,
      #FEF7F6 40%,
      #FDF4F1 100%);
  position: relative;
  overflow: hidden;

  min-height: 90vh;
}

/* formas */
.decor1 {
  position: absolute;
  right: -100px;
  bottom: -80px;

  width: 420px;
  height: 420px;

  background:
    radial-gradient(circle,
      rgba(200, 164, 106, .45),
      rgba(200, 164, 106, .12) 60%,
      transparent 80%);

  border-radius: 50%;
  filter: blur(45px);
  z-index: 0;
}

.decor2 {
  position: absolute;
  right: 120px;
  bottom: 40px;

  width: 260px;
  height: 260px;

  background:
    rgba(200, 164, 106, .18);

  border-radius:
    60% 40% 70% 50% / 60% 60% 40% 50%;

  filter: blur(30px);
  z-index: 0;
}

/* texto */
.text {
  max-width: 620px;
  position: relative;
  z-index: 2;
}

.text h1 {
  font-size: clamp(36px, 5vw, 60px);
  line-height: 1.08;
  margin-bottom: 20px;
  color: var(--primary);
}

.text p {
  font-size: 17px;
  line-height: 1.7;
  max-width: 520px;
  margin-bottom: 30px;
}

/* botões */
.buttons {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.buttons a:first-child {
  background:
    linear-gradient(135deg,
      #C8A46A,
      #E5C185);

  color: #fff;
  padding: 15px 30px;
  border-radius: 12px;
  text-decoration: none;
  font-weight: 600;
  transition: .3s;
}

.buttons a:first-child:hover {
  transform: translateY(-3px);
  box-shadow:
    0 8px 22px rgba(200, 164, 106, .35);
}

.secondary {
  background: transparent;
  border: 1px solid var(--gold);
  color: var(--gold);
  border-radius: 12px;
  padding: 12px 22px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
  margin-bottom: 20px;
}

.secondary:hover {
  background: var(--gold);
  color: white;
}

/* imagem */
.hero img {
  position: absolute;

  right: 0;
  top: 0;

  display: flex;
  align-items: center;

  width: 50%;
  height: auto;

  z-index: 1;

  mask-image:
    linear-gradient(to top,
      transparent 0%,
      black 18%),
    linear-gradient(to right,
      transparent 0%,
      black 18%);

  -webkit-mask-image:
    linear-gradient(to top,
      transparent 0%,
      black 18%),
    linear-gradient(to right,
      transparent 0%,
      black 18%);

  mask-composite: intersect;
  -webkit-mask-composite: source-in;
}

/* =========================
NOTEBOOK
========================= */

@media(max-width:1300px) {

  .hero {
    min-height: 75vh;
    padding: 80px 6%;
  }

  .hero img {
    width: min(44vw, 560px);
  }

  .text {
    max-width: 540px;
  }

}

/* =========================
TABLET
========================= */

@media(max-width:1023px) {

  .hero {
    flex-direction: column;
    text-align: center;
    background: #FDF4F1;

    padding: 70px 8%;
    min-height: auto;
  }

  .text {
    max-width: 680px;
  }

  .text p {
    max-width: 100%;
    margin: 0 auto 30px;
  }

  .buttons {
    justify-content: center;
  }

  .hero img {
    position: relative;
    right: auto;
    bottom: auto;

    width: 118% !important;

    top: 0px;

    margin-top: 40px;
  }

  .decor1,
  .decor2 {
    display: none;
  }

}

/* =========================
MOBILE
========================= */

@media(max-width:767px) {

  .hero {
    padding: 60px 5%;
    gap: 30px;
  }

  .text h1 {
    font-size: clamp(32px, 9vw, 46px);
  }

  .text p {
    font-size: 15px;
  }

  .buttons {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .buttons a,
  .secondary {
    width: 100%;
    max-width: 320px;
    text-align: center;
  }



  .hero img {
    position: relative;
    z-index: 2;

    width: 170% !important;
    left: -17%;

    margin-top: -10%;

    top: 0px;

    mask-image:
      linear-gradient(to top,
        transparent 0%,
        black 18%);

    -webkit-mask-image:
      linear-gradient(to top,
        transparent 0%,
        black 18%);

    mask-composite: intersect;
    -webkit-mask-composite: source-in;
  }
}

/* =========================
LARGE DESKTOP
========================= */

@media(min-width:1600px) {

  .hero {
    padding: 100px 10%;
  }

  .hero img {
    width: 700px;
  }

}